@model IEnumerable<Ashraful_CoreProject.Models.ProductAjax>

@{
        ViewData["Title"] = "IndexAjax";
}

<div class="container invisible" style="top:10%;height:80%; position:absolute;" id="DivDetailView">

</div>

<div id="DivListView" class="container visible">


    <form asp-action="CreateProduct" data-ajax="true" data-ajax-update="#DivDetailView" data-ajax-success="ShowDetailForm()">
        <button type="submit" class="btn btn-success">Create</button>
    </form>
    <br />

    <table class="table table-bordered table-hover" id="TblLists">
        <thead>

            <tr>
                <th>
                    Image
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EntryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>

                <th>Actions</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {


                <tr id="TR_@item.Code">
                    <partial name="_Product" model="@item" />
                </tr>

            }
        </tbody>
    </table>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    function deleteItem(form) {
        var removeItemEl = $(form);
        removeItemEl.closest("tr").remove();
    }

    function ShowDetailForm() {
        $("#DivDetailView").addClass("visible");
        $("#DivDetailView").removeClass("invisible");

        $("#DivListView").addClass("invisible");
        $("#DivListView").removeClass("visible");
        return;
    }

    function CloseDetailForm() {
        $("#DivDetailView").addClass("invisible");
        $("#DivDetailView").removeClass("visible");

        $("#DivListView").addClass("visible");
        $("#DivListView").removeClass("invisible");
        return;
    }

    function CreateRow(id) {
        var table = document.getElementById('TblLists');
        var rows = table.getElementsByTagName('tr');
        var rowOuterHtml = rows[rows.length - 1].outerHTML;

        table.innerHTML = table.innerHTML + rowOuterHtml;
        rows = table.getElementsByTagName('tr');

        var row = rows[rows.length - 1];
        row.id = id;
        var tds = row.getElementsByTagName('td');
        for (i = 0; i < tds.length; i++) {
            tds[i].innerHTML = '';
        }
        return true;

    }

    </script>

}